body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

input[type="file"],
input[type="number"] {
    padding: 5px;
    margin-top: 10px;
}

main {
    margin: 20px;
    padding-top: 10px;
}

#pdfViewer {
    height: 80vh;
    border: 1px solid #ddd;
    padding: 10px;
}

/* Highlighted words style */
.highlighted {
    background-color: blueviolet; /* Adjust the color as needed */
}

/* Context Menu */
#customContextMenu {
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

#customContextMenu div {
    padding: 5px;
    cursor: pointer;
}

#customContextMenu div:hover {
    background-color: #f1f1f1;
}
